body {
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header {
    min-width: 100%;
    min-height: 100%;
    max-width: 100%;
    max-height: 100%;
}

h2 {
    font-weight: bold;
    font-size: 2.05em;
    font-family: Poppins, sans-serif;
    margin-top: .2em;
}

.div-h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 100%;
    max-width: 100%;
    border-top: .2em solid rgba(200,200,200);
    border-bottom: .2em solid rgba(200,200,200);
    margin: 1em 0;
    padding: 1em;
}

h3 {
    display: flex;
    justify-content: center;
    font-family: "Roboto", sans-serif;
    font-size: 1.9em;
    margin-top: 1em;
    margin-bottom: 1em;
}

h4 {
    display: flex;
    justify-content: center;
    font-family: "Roboto", sans-serif;
    font-size: 1.5em;
    margin-bottom: 2em;
}

.div-form {
    display: flex;
    justify-content: center;
    align-self: center;
    align-items: center;
    flex-direction: column;
    border: .1em solid rgb(200,200,200);
    background-color: #e9f3fe;
    border-radius: 2em;
    padding: 2em;
    margin-top: 2em;
    margin-bottom: 2em;

    .formularios {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        padding-bottom: 1em;
    }

    .form-title {
        font-family: "Poppins", sans-serif;
        font-size: 2em;
        font-weight: bold;
    }

    .form-input {
        background: white;
        width: 20em;
        height: 50px;
        margin-bottom: -1em;
        color: rgb(100, 100, 100);
        border: 1px solid black;
        border-radius: 20px;
        padding-left: 20px;
        padding-right: 20px;
        -webkit-transition: 0.4s;
        -o-transition: 0.4s;
        transition: 0.4s;
    }

    .form-button {
        width: 10em;
        margin-top: -1.2m;
        margin-left: 1em;
        margin-right: 1em;
    }
}

.footer {
    background-color: #222222;
    color: white;
    text-align: center;
    padding: .5em;
    margin-top: auto;

    #info {
        margin: .5em;
        font-size: 1em;
    }
}

input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

#btn-go-back {
    align-self: flex-start;
    width: 10em;
    margin-top: .5em;
    margin-left: .5em;
}

#btn-cerrar-sesion {
    justify-self: flex-end;
    align-self: flex-end;
    width: 10em;
    margin-top: .5em;
    margin-right: .5em;
}

.t-div {
    margin-top: .5em;
    margin-left: 2em;
    margin-right: 2em;
}

table {
    font-family: 'Roboto', sans-serif;
    font-size: 1.1em;
    text-align: center;

    th {
        font-family: 'Poppins', sans-serif;
        font-size: 1.2em;
    }

    td.ids-dates {
        font-size: 1.1em;
        font-weight: bold;
    }

    td.hrefs {
        font-size: 1.15em;
    }

    td.hrefs:hover {
        color: #0000FF;
        text-decoration: underline;
        cursor: pointer;
    }

    tr.revision {
        background: #FFFFAA;
    }

    tr.reparado {
        background: #AAFFAA;
    }

    tr.no-reparado {
        background: #FFAAAA;
    }
}

.table-buttons {
    display: flex;
    justify-content: space-around;
}