/*overflow deja que el contenido del body se desplace verticalmente, 
el display flex establece al cuerpo como contenedor flexible, el flex direction column 
alinea verticalmente el contenido y se establece la altura minima*/
body {
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/*se establecen anchos y altos al 100% */
.header {
    min-width: 100%;
    min-height: 100%;
    max-width: 100%;
    max-height: 100%;
}

h2 {
    font-weight: bold;
    font-size: 2.05em;
    font-family: Poppins, sans-serif;
    margin-top: .2em;
}
/* el display flex lo hace un contenedor flexible el justify
content centra horizontalmente el contenido el align items centra verticalmente
se establecen alturas y los tamaños de los bordes margenes y padding */
.div-h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 100%;
    max-width: 100%;
    border-top: .2em solid rgba(200,200,200);
    border-bottom: .2em solid rgba(200,200,200);
    margin: 1em 0;
    padding: 1em;
}

h3 {
    display: flex;
    justify-content: center;
    font-family: "Roboto", sans-serif;
    font-size: 1.9em;
    margin-top: 1em;
    margin-bottom: 1em;
}

h4 {
    display: flex;
    justify-content: center;
    font-family: "Roboto", sans-serif;
    font-size: 1.5em;
    margin-bottom: 2em;
}

.div-form {
    /*se hace un contenedor flexible, se alinea el contenido vertical y horizontalmente 
    al centro con las primeras tres funciones. flex direction column hace que los elementos del formulario
    se alineen 
    */
    display: flex;
    justify-content: center;
    align-self: center;
    align-items: center;
    flex-direction: column;
    border: .1em solid rgb(200,200,200);
    background-color: #e9f3fe;
    border-radius: 2em;
    padding: 2em;
    margin-top: 2em;
    margin-bottom: 2em;
    /*se hace un contenedor flexible, se alinean los campos del formulario al centro 
    y en una columna vertical(esto ultimo producido por el flex direction column) */
    .formularios {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        padding-bottom: 1em;
    }

    .form-title {
        font-family: "Poppins", sans-serif;
        font-size: 2em;
        font-weight: bold;
    }
    /*se establece color de fondo anchos y altos para bordes ,margenes y padding*/
    .form-input {
        background: white;
        width: 20em;
        height: 50px;
        margin-bottom: -1em;
        color: rgb(100, 100, 100);
        border: 1px solid black;
        border-radius: 20px;
        padding-left: 20px;
        padding-right: 20px;

    }
    /*al boton de submit del formulario se le da tamaño en sus margenes*/
    .form-button {
        width: 12em;
        margin-top: -1.2m;
        margin-left: 1em;
        margin-right: 1em;
    }
}

.footer {
    background-color: #222222;
    color: white;
    text-align: center;
    padding: .5em;
    /*hace que el footer quede abjo del todo*/
    margin-top: auto;

    #info {
        margin: .5em;
        font-size: 1em;
    }
}
/*esto hace que el boton de incremento no se muestren*/
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.t-div {
    margin-top: .5em;
    margin-bottom: 1em;
    margin-left: 2em;
    margin-right: 2em;
}

table {
    /*genralmente en esta parte del codigo se declaran fuentes con sus 
    respectivos tamaños para la tabla que muestra la informacion */
    font-family: 'Roboto', sans-serif;
    font-size: 1.1em;
    text-align: center;

    th {
        font-family: 'Poppins', sans-serif;
        font-size: 1.2em;
    }

    td.ids-dates {
        font-size: 1.1em;
        font-weight: bold;
    }

    td.hrefs {
        font-size: 1.15em;
    }
        /*esto forma parte de la decoracion hace que el elemento sea clickeable y subraya el texto */
    td.hrefs:hover {
        color: #0000FF;
        text-decoration: underline;
        cursor: pointer;
    }

    tr.revision {
        background: #FFFFAA;
    }

    tr.reparado {
        background: #AAFFAA;
    }

    tr.no-reparado {
        background: #FFAAAA;
    }
}

.table-buttons {
    display: flex;
    justify-content: space-around;
}
/* el justify content hace que quede espacio entre los botones*/
.info-top-btns {
    display: flex;
    justify-content: space-between;
    margin: .5em;
}

#btn-go-back {
    width: 10em;
}

#btn-cerrar-sesion {
    width: 10em;
}