.info-card {
    border: .1em solid rgb(200,200,200);
    align-self: center;
    margin-top: 2em;
    min-width: 30em;
    min-height: 30em;
}

.div-h2 {
    margin: 0;
}

.div-info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-right: 7em;
}

.info-equipo {
    display: flex;
    width: 65em;
}

.div-data {
    display: flex;
    flex-direction: row;
    
}

.div-data-text {
    font-size: 1.2em;
    margin-right: .4em;
}

.observaciones {
    flex: 1;
    padding: 1em;
    border: .1em solid rgb(200,200,200);
    border-radius: 10px;
    margin-left: 3em;
}

.btn-edit {
    display: flex;
    justify-content: center;
    margin-top: 2em;
    margin-bottom: 2em;
}

.card-client {
    min-width: 27em;
    min-height: 25em;
}

.card-user {
    max-width: 40em;
    min-height: 23em;
    max-height: 23em;
    margin-top: 1em;
    margin-bottom: 2em;
}

.card-user .card-content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#rango-big {
    display: flex;
    align-self: center;
    font-family: "Roboto", sans-serif;
    font-size: 2em;
    font-weight: bold;
}