
#btn-cliente{
    background-color: #3a0ca3;
}

#btn-usuario{
    background-color: #7209b7;
}

#div-h2{
    border-top: .2em solid rgba(200,200,200);
    border-bottom: .2em solid rgba(200,200,200);
    margin: 1em 0;
    padding: 1em;
    display: flex;
    justify-content: center;
}
