/*se definen estilos para los botones de la primera pagina*/
.btn-inicio {
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: .5em;
}

#btn-cliente {
    background-color: #6a0ca3;
}

#btn-usuario {
    background-color: #A209b7;
}