h3 {
    font-size: 1.5em;
    margin-bottom: 0;
}

h2 {
    margin-left: .5em;
}
/*al boton añadir usuario, cliente y equipo se le da tamaño de margen,ancho y tamaño de fuente 
tambien y con el justify flex end se lo alinea a la derecha y abajo del contenedor hecho*/
.btn-add{
    width: 14em;
    font-size: 1.2em;
    font-weight: bold;
    justify-self: flex-end;
    align-self: flex-end;
    margin-top: .5em;
    margin-left: .5em;
    margin-bottom: .3em;
    margin-right: .7em;
}
/* se le da tamaño de margenes se lo alinea al centro y su contenido 
tiene un espacio en el medio*/
.tab-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 1.5em;
    margin-right: 1.5em;
    margin-bottom: .6em;

    h3 {
        font-family: "Roboto", sans-serif;
        font-size: 1.5em;
        margin-bottom: 0;
        margin-top: 0;
    }
}
